.submit_button {
    background-color: #37dbce;
    height: 10px;
    color: rgb(10, 1, 1); 
    display: block;
    line-height: 0px;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 40%;
    padding: 15px 15px;
}

  body {
    background-color: #fcfafa;
  }

  .MovieBar {
    position: absolute;
    top:130px;
    right:460px;
    width: 500px;
  }

textarea:focus, input:focus {
    color:#020000;
 }

input, select, textarea{
  color:#030202;
 }

 #parent #hover_area {
  display:none;
}

#parent:hover #hover_area {
  display:block;
  background-color: rgb(236, 235, 170);
  width:450px;
  word-wrap: break-word;
}
